 <footer>
        <div class="container">
            <div class="row">
                <p>©Copyright 2019 by
                <a href="#">
                    Hello world
                </a>
                </p>
            </div>
            <div class="icon-row">
                <a><span><i class="fab fa-twitter fa-2x"></i></span></a>
                <a><span><i class="fab fa-facebook-f fa-2x"></i></span></a>
                <a><span><i class="fab fa-instagram fa-2x"></i></span></a>
            </div>
        </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script> 
    <script src="/js/main.js" ></script>   
    <script src="/js/login.js" ></script>
</body>
</html>