<body>
    <header>
        <div class="container">
            <a class="homebutton" href="/"><span><i class="fas fa-home fa-2x"></i></span></a>

            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
            </label>

            <nav class="header-nav">
                
                <a>
                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>
                </a>

                <a href="/about">about</a>
                <% if (! currentUser) {%>
                <a href="/login"><span><i class="fas fa-user-alt fa-lg"></i></span></a>
                <% } else {%>
                <a href="/users/<%=currentUser._id%>"><%= currentUser.username%></a>
                <%}%>
                <a href="/posts"><span><i class="fas fa-images fa-lg"></i></span></a>
                <a href="/logout">LogOut</a>
                
               
                
            </nav>
        </div>
    </header>
