<% include ../partials/head%>
<% include ../partials/header%>

<% include ../partials/message%>

<div class="container">
    <div class="login-box">
    	<div class="lb-header">
      		<a href="/login"  id="login-box-link">Login</a>
      		<a href="/register" class="active" id="signup-box-link">Sign Up</a>
    	</div>

    <div class="social-login">
      <a href="/facebookLogin">
        <span><i class="fab fa-facebook-square fa-2x"></i></span>
        Login with facebook
      </a>
      <a href="/googleLogin">
        <span><i class="fab fa-google fa-2x"></i></span>
        Login with Google
      </a>
    </div>


    <form class="user-signup" action="/register" method=POST>
      <div class="u-form-group">
        <input type="username" placeholder="UseName" name="username"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password" name="password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password" name="confirm_password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>

  	</div>
</div>


<% include ../partials/footer%>