


	<div class="comment-container">
		<div class="comments">
			<div class="comments-header">
				<h3>Comments</h3>
					<div class="comment-lists">
					<% post.comments.forEach(function(comment){%>
						<a>By <%= comment.author.username%></a>
						<h5><%=comment.commentText%></h5>
						
					</div>
					<% }) %>
		
			</div>
			<form action="/posts/<%= post._id%>/comments" method="POST">
            <div class="comments-body">
               	<textarea class="comments-text" name="commentText" placeholder="comments here"></textarea>
            </div>
               	<div class="comments-control">
               		<div>
               			
               		</div>
               		<div>
               			<button type='submit'>Send</button>
               		</div>
               	</div>
			</div>
			</form>	
	</div>
