


	<div class="comment-container">
		<div class="comments-lists">
			<div class="comments">
				<div class="comments-header">
					<h3>Comments</h3>
					<a href="/auth">Login to comment</a>
				</div>
               	<div class="comments-body">
               		<textarea class="comments-text" placeholder="comments here"></textarea>
               	</div>
               	<div class="comments-control">
               		<div>
               			
               		</div>
               		<div>
               		<button type='submit'>Send</button>
               		</div>
               	</div>
			</div>
		</div>	
	</div>
